brain/models/clip-vit-b32
brain/models/gpt2
brain/models/whisper-small
brain/models/nomic-embed-text-v2-moe
brain/data/replay_buffer
archive
brain/src/utils/__pycache__
brain/src/sensors/__pycache__
brain/src/language_areas/__pycache__
brain/src/__pycache__
*/__pycache__/
brain/persistent
persistent/hippocampus.npy
persistent/motor_cortex_adapters.pt
brain/logs/debug.log
brain/logs/GPU_debug.log
brain/logs/model_timing_debug.log
brain/models/bert-base-uncased
